{% extends 'base.html' %} 
{% load static %}
{% load thumbnail %}
{% block title %}<title>Самовар</title>{% endblock title %}
{%block content%}

<article>
    {% for pod in podcategorys %}
      <div class="container uppercase text-black text-center" href="{% url 'products:category' pod.slug %}" style="font-size: 24px;">
        {{ cat.name }}
        <div class="flex items-center" id="store-nav-content"></div>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-start" style="padding: 2rem;">
        {% for product in cat.products.all %}
          <div class="card mb-4" style="background-color: #e1cbaa; width: 23%;">
            <a href="{% url 'products:product' product.slug %}">
              {% thumbnail product.image "400x400" crop="center" as im %}
              <img src="{{ im.url }}" class="card-img-top" alt="...">
              {% endthumbnail %}
            </a>
            <div class="card-body">
              <h5 class="card-title text-center" id="namepr{{ product.id }}">{{ product.name }}</h5>
              {% if not request.user_agent.is_mobile %}
                <h5 class="card-subtitle mb-2 text-muted small text-center">{{ product.description }}</h5>
              {% endif %}
              <p class="card-price-txt">{{ product.price }} руб.</p>
              <form action="{% url 'products:cart_add' product.id %}" method="post">
                {% csrf_token %}
                <!-- <button type="submit" id="pr{{ product.id }}" class="btn btn-primary cart">Добавить в корзину</button> -->
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </article>


{%endblock%}
    

