{% extends 'base.html' %} 
{% load static %}
{% load thumbnail %}
{% block title %}<title>Самовар</title>{% endblock title %}
{%block content%}

<img src="{% static 'img/PrivetPicture001.png' %}" class="img">
<style>
.btn-outline-info {
  color: black;
}
#spoiler {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
</style>
<article>
<div class="container mx-auto flex items-center flex-wrap text-center">
<button type="button" class="btn btn-outline-info btn-sm"  onclick="myFunction()">Условия доставки</button>
</div>

<div id="spoiler" style="display:none">
    <p> </p>
  <p>  Наше кафе принимает онлайн-заказы С 10:00 до 21:00.</p>
   <p>
  Связаться с нами можно по следующим номерам:
</p>
  <a href="tel:+79139151717" class="btn btn-outline-info btn">8-913-915-17-17</a>
  <a href="tel:+79139151717" class="btn btn-outline-info btn">291-17-17</a>
  <p>Условия доставки по районам:</p>
  <p> </p>
  <p>Заельцовский район, Железнодорожный район, Центральный район, Октябрьский район, Дзержинский район, Калининский район</p>
  <p>Минимальный заказ 1000 рублей, Бесплатная доставка от 1200 рублей, Стоимость платной доставки 150 рублей</p>
  <p> </p>
  <p>Ленинский район, Кировский район, п.Садовый, п. Восход, Каменка, Снегири, Родники</p>
  <p>Минимальный заказ 1500 рублей, Бесплатная доставка от 2000 рублей, Стоимость платной доставки 200 рублей</p>
  <p> </p>
  <p>Первомайский район, Советский район, Пашино, Кудряшовский, поселок Ключ-Камышенское плато, Обь ГЭС, Новомарусино, Кольцово, поселок Васхнил, Барышево, поселок Краснообск, поселок Элитный, поселок Криводановка, село Толмачево, село Юный Ленинец, поселок Мичуринский</p>
  <p>Минимальный заказ 2000 рублей, Бесплатная доставка от 2500 рублей, Стоимость платной доставки 500 рублей</p>

</div>

<script>
function myFunction() {
  var x = document.getElementById("spoiler");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
  </article>
       <article>
      <div class="container mx-auto flex items-center flex-wrap text-center">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between">
    <div class="row">
      <div class="container-my">
        <div class="col col-sm-12" style="background: white;">
          <!-- добавляем классы d-flex, justify-content-center и flex-wrap для выравнивания кнопок по центру и переноса по строкам -->
          <div class="btn-group d-flex justify-content-center flex-wrap" role="group" aria-label="Basic example">
            {% for pod in podcategorys %}
            <button type="button" class="btn btn-success" style="font-size: 14px;"> <!-- изменяем размер шрифта для мобильных устройств -->
              <a href="{% url 'products:podcategory' pod.slug %}" style="color: white">{{ pod.name }}</a>
            </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
       </article>
<article>


    {% for cat in categorys %}
      <div class="container uppercase text-black text-center" href="{% url 'products:category' cat.slug %}" style="font-size: 24px;">
        {{ cat.name }}
        <div class="flex items-center" id="store-nav-content"></div>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-start" style="padding: 2rem;">
        {% for product in cat.products.all %}
          <div class="card mb-4" style="background-color: #e1cbaa; width: 23%;">
            <a href="{% url 'products:product' product.slug %}">
              {% thumbnail product.image "400x400" crop="center" as im %}
              <img src="{{ im.url }}" class="card-img-top" alt="...">
              {% endthumbnail %}
            </a>
            <div class="card-body">
              <h5 class="card-title text-center" id="namepr{{ product.id }}">{{ product.name }}</h5>
              {% if not request.user_agent.is_mobile %}
                <h5 class="card-subtitle mb-2 text-muted small text-center">{{ product.description }}</h5>
              {% endif %}
              <p class="card-text text-center">{{ product.price }} руб.</p>
              <form action="{% url 'products:cart_add' product.id %}" method="post">
  {% csrf_token %}
  <button type="submit" id="pr{{ product.id }}" class="btn btn-primary cart">Добавить в корзину</button>
</form>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </article>
        
  
{%endblock%}
{% block js %}

<script>
  // Find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
      var cart = {};
  } else {
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart);
  }
  // If the add to cart button is clicked, add/increment the item
  //$('.cart').click(function() {
      $('.divpr').on('click', 'button.cart', function(){
      var idstr = this.id.toString();
      if (cart[idstr] != undefined) {
          cart[idstr] = cart[idstr] + 1;
      } else {
          cart[idstr] = 1;
      }
      updateCart(cart);
  });
  //Add Popover to cart
  $('#popcart').popover();
  updatePopover(cart);
  function updatePopover(cart) {
      console.log('We are inside updatePopover');
      var popStr = "";
      popStr = popStr + "<h5> Быстрый просмотр корзины </h5><div class='mx-2 my-2'>";
      var i = 1;
      for (var item in cart) {
          popStr = popStr + "<b>" + i + "</b>. ";
          popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... шт: " + cart[item] + '<br>';
          i = i + 1;
      }
      popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>заказать</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>удалить</button>     "
      console.log(popStr);
      document.getElementById('popcart').setAttribute('data-content', popStr);
      $('#popcart').popover('show');
  }
  function clearCart() {
      cart = JSON.parse(localStorage.getItem('cart'));
      for (var item in cart) {
          document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">добавить</button>'
      }
      localStorage.clear();
      cart = {};
      updateCart(cart);
  }
  function updateCart(cart) {
      var sum = 0;
      for (var item in cart) {
          sum = sum + cart[item];
          document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = sum;
      console.log(cart);
      updatePopover(cart);
  }
  // If plus or minus button is clicked, change the cart as well as the display value
  $('.divpr').on("click", "button.minus", function() {
      a = this.id.slice(7, );
      cart['pr' + a] = cart['pr' + a] - 1;
      cart['pr' + a] = Math.max(0, cart['pr' + a]);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      updateCart(cart);
  });
  $('.divpr').on("click", "button.plus", function() {
      a = this.id.slice(6, );
      cart['pr' + a] = cart['pr' + a] + 1;
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      updateCart(cart);
  });
  </script>
{%endblock%}




{% comment %} <form action="{% url "cart:cart_add" product_id=product.id %}" method="post">
  {{ cart_product_form }}
  {% csrf_token %}
  <input type="submit" value= заказать class="btn btn-primary">
</form> {% endcomment %}