html, body {
	font-size: 16px; /* Устанавливаем размер шрифта */
	line-height: 1.5; /* Устанавливаем высоту строки */
	background-color: #e1cbaa;
	margin: 0; /* Убираем отступы */
	padding: 0; /* Убираем внутренние отступы */
	height: 100%; /* Устанавливаем высоту на 100% */
	font-family: 'Comfortaa', cursive; /* Устанавливаем шрифт */

}

/* Стили для навигационного меню */
nav {
	background-color: #463d32; /* Устанавливаем цвет фона */
	padding: 1em; /* Устанавливаем отступы вокруг элемента */
	display: flex; /* Устанавливаем flex-контейнер */
	flex-direction: row; /* Устанавливаем направление главной оси */
	justify-content: space-between; /* Распределяем элементы по оси X */
	align-items: center; /* Выравниваем элементы по оси Y */
	flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

/* Стили для изображения в навигационном меню */
nav img {
	margin-right: 1em; /* Устанавливаем отступ справа */
}

/* Стили для ссылок в навигационном меню */
nav a {
    text-align: right;
	color: #fff; /* Устанавливаем цвет текста */
	display: block; /* Устанавливаем блочный тип элемента */
	margin: 0 1em; /* Устанавливаем отступы между элементами */
	text-decoration: none; /* Убираем подчеркивание ссылок */
}

/* Стили для основного содержимого страницы */
main {
	padding: 1em; /* Устанавливаем отступы вокруг элемента */

}

/* Стили для секций на странице */
section {
	margin-bottom: 1em; /* Устанавливаем отступ снизу */
}

/* Стили для статей на странице */
article {
	background-color: #f7f7f7; /* Устанавливаем цвет фона */
	border: 1px solid #ccc; /* Устанавливаем границу */
	padding: 1em; /* Устанавливаем отступы вокруг элемента */
}

/* Стили для футера на странице */
footer {
	background-color: #463d32; /* Устанавливаем цвет фона */
	color: #fff; /* Устанавливаем цвет текста */
	padding: 1em; /* Устанавливаем отступы вокруг элемента */
	text-align: center; /* Выравниваем текст по центру */
	display: flex; /* Устанавливаем flex-контейнер */
	flex-direction: row; /* Устанавливаем направление главной оси */
	justify-content: space-between; /* Распределяем элементы по оси X */
	align-items: center; /* Выравниваем элементы по оси Y */
}

/* Стили для левой части футера */
.footer-left {
	text-align: left; /* Выравниваем текст по левому краю */
}

/* Стили для правой части футера */
.footer-right {
	text-align: right; /* Выравниваем текст по правому краю */
}

/* Стили для мобильных устройств */
@media (max-width: 1079px) {
	nav {
		flex-direction: column; /* Устанавливаем направление главной оси */
		text-align: center; /* Выравниваем текст по центру */
	}
	nav img {
		margin-bottom: 1em; /* Устанавливаем отступ снизу */
	}
	footer {
		flex-direction: column; /* Устанавливаем направление главной оси */
		justify-content: center; /* Выравниваем элементы по центру */
		align-items: center; /* Выравниваем элементы по центру */
	}
	.footer-left,
	.footer-right {
		width: 100%; /* Устанавливаем ширину на 100% */
		text-align: center; /* Выравниваем текст по центру */
	}
	.footer-left {
		margin-bottom: 1em; /* Устанавливаем отступ снизу */
	}
	section article img {
        max-width: 100%;
    }
}

/* Стили для десктопных устройств */
@media (min-width: 1080px) {
	nav {
		max-width: 1080px; /* Устанавливаем максимальную ширину */
		margin: 0 auto; /* Выравниваем элементы по центру */
	}
	main {
		max-width: 1080px; /* Устанавливаем максимальную ширину */
		margin: 0 auto; /* Выравниваем элементы по центру */
	}
	@media (max-width: 1079px) {
		footer {
			flex-direction: column; /* Устанавливаем направление главной оси */
			justify-content: center; /* Выравниваем элементы по центру */
			align-items: center; /* Выравниваем элементы по центру */
		}
		.footer-left,
		.footer-right {
			width: 100%; /* Устанавливаем ширину на 100% */
			text-align: center; /* Выравниваем текст по центру */
		}
		.footer-left {
			margin-bottom: 1em; /* Устанавливаем отступ снизу */
		}
	}

	/* Стили для десктопных устройств */
	@media (min-width: 1080px) {
		nav {
			max-width: 1080px; /* Устанавливаем максимальную ширину */
			margin: 0 auto; /* Выравниваем элементы по центру */
		}
		main {
			max-width: 1080px; /* Устанавливаем максимальную ширину */
			margin: 0 auto; /* Выравниваем элементы по центру */
		}
		footer {
			max-width: 1080px; /* Устанавливаем максимальную ширину */
			margin: 0 auto; /* Выравниваем элементы по центру */
		}
		section article img {
            max-width: 100%;
            }
